---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: myapp-dev             
  labels:
    app: frontend
    tier: web
    environment: dev
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
      tier: web
      environment: dev
  template:
    metadata:
      labels:
        app: frontend
        tier: web
        environment: dev
    spec:
      containers:
        - name: frontend
          image: sameed.azurecr.io/aks-frontend:v1.0.6
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 80
              protocol: TCP
          resources:
            requests:
              memory: "128Mi"
              cpu: "250m"
            limits:
              memory: "256Mi"
              cpu: "500m"
          readinessProbe:            
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:               
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 10
            periodSeconds: 30
      restartPolicy: Always
